/**字体*/
$fontFamily:"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
$fontColor: #333;

/*点击输入框的瞬间会出现灰色背景*/
html *{

  -webkit-text-size-adjust: none;/*解决chrome浏览器下字体不能小于12px*/
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html{
  font-size: 100.01%;
}
html,body{-webkit-overflow-scrolling: touch;}
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, input, textarea, th, td, form, a, p, textarea, pre{
  margin: 0;
  padding: 0;
}
body{
  //visibility: visible;
  font-size: 30px;
  color: $fontColor;
  //font-family: $fontFamily;
  font-family: Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
  height: 100%;
  //让字体看起来平滑
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background: #eee;
  padding-top: constant(safe-area-inset-top);   //为导航栏+状态栏的高度 88px
  padding-left: constant(safe-area-inset-left);   //如果未竖屏时为0
  padding-right: constant(safe-area-inset-right); //如果未竖屏时为0
  padding-bottom: constant(safe-area-inset-bottom);//为底下圆弧的高度 34px
}
ol, ul, li {
  list-style: none;
}
input, textarea{
  outline: none;
  border: none;
  box-sizing: border-box;
  width: 100%;
  line-height: normal;
}

/*所用的input的占位符placeholder的字体颜色*/
input::-webkit-input-placeholder{
  color:#aaa;
}
input:focus::-webkit-input-placeholder{color: #c3c3c3;}
button{
  border: none;
  outline: none;
}
input[type="submit"],input[type="reset"],input[type="button"],input[type=date],button,select{
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari 和 Chrome */
  appearance:none;
  /*去掉苹果的默认UI来渲染按钮 、解决部分手机浏览器对border：none无效办法*/
}
a {
  color: #8C8C8C;
  text-decoration: none;
}
img{
  border: 0;
  outline: 0;
}
.whitespace{
  height: 10px;
}


img {
  position: relative;
}

//img::after {
//  content: "";
//  height: 100%;
//  width: 100%;
//  position: absolute;
//  left: 0;
//  top: 0;
//  background: #d5d5d6;
//  border-radius: 4px;
//}
/*IE下清除浮动*/
.clearfloat {
  zoom:1;
}
/*其他浏览器清除浮动*/
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
